
myOS.xcodeproj/xcuserdata/Tix.xcuserdatad/xcschemes/xcschememanagement.plist

myOS.xcodeproj/xcuserdata/Tix.xcuserdatad/xcschemes/myOS.xcscheme

myOS.xcodeproj/project.xcworkspace/xcuserdata/Tix.xcuserdatad/UserInterfaceState.xcuserstate
